.DS_Store
este.sublime-workspace
*.css
# Ignore all files in dev,este,mobile and tracker
assets/js/dev/**/*
assets/js/dev/*.js
assets/js/este/**/*
assets/js/este/*.js
assets/js/app/**/*
assets/js/app/*.js
assets/js/*.js
# Except all coffee script files
!*.coffee
!*.soy
!assets/js/dev/soyutils_usegoog.js
# Except all files in Google closure library
!assets/js/google-closure/**/*
#
# Other common files
app.html
assets/js/google-closure/closure/bin/build/*.*
assets/js/google-closure/closure/bin/calcdeps.py
build/**/*
build/*.*