# todo: refactor
.DS_Store
este.sublime-workspace
*.css
assets/js/dev/**/*
assets/js/dev/*.js
assets/js/este/**/*
!assets/js/este/**/*.html
assets/js/este/*.js
assets/js/app/**/*
assets/js/app/*.js
assets/js/*.js
!*.coffee
!*.soy
!assets/js/dev/soyutils_usegoog.js
!assets/js/dev/run.js
!assets/js/dev/tests.js
!assets/js/google-closure/**/*
!assets/js/dev/node_modules/*
app.html
assets/js/google-closure/closure/bin/build/depstree.pyc
assets/js/google-closure/closure/bin/build/jscompiler.pyc
assets/js/google-closure/closure/bin/build/source.pyc
assets/js/google-closure/closure/bin/build/treescan.pyc
!assets/js/google-closure/closure/bin/build/depswriter.py
assets/js/google-closure/closure/bin/calcdeps.py
build/**/*
build/*.*