{namespace este.demos.app.layout.bla.templates autoescape="contextual"}

/**
 */
{template .element}
  <p>
    Bla content. It's clickable. This is demonstration of este.ui.Component on method.
  </p>
  <code>
    @on @content, 'div click': @onDivClick
  </code>
{/template}