{namespace app.listing.templates autoescape="contextual"}

/**
 * @param items
 */
{template .list}
  <ul>
    {foreach $item in $items}
      {call .item data="$item" /}
    {/foreach}
  </ul>
{/template}

/**
 * @param id
 * @param text
 * @param title
 */
{template .item}
  <li data-id='{$id}' title='{$title}'>{$text}</li>
{/template}